<header>
  <nav class="navbar navbar-expand-md navbar-dar bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav_item nav-link" href="/urls">My URLs</a>
        <a class="nav_item nav-link" href="/urls/new">Add New URL</a>
      </div>
    </div>

    <% if(email) { %>
    <div class="navbar-nav">
      <div class="nav_item nav-link">Logged in as <%= email %></div>
      <form
      class="form-inline justify-content-right"
      action="/logout"
      method="POST">
      <button type="submit" class = "btn btn-primary">Logout</a></form>
    
    </div>
    <% } else { %>
      <div class="navbar-nav justify-content-right"></div> 
        <a type="button" class="btn btn-primary" style="margin-right: 10px;" href="/register">Register</a>
        <a type="button" class="btn btn-primary" href="/login">Login</a>
      </div>
    <% } %>
  </nav>
</header>
