<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head') %>
  <title>Unlisted TinyURL</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em">
    <h3>Unlisted TinyURL</h3>
    <p>
      The TinyURL you are trying to access is unlisted. Click <a href="/urls">here</a> to see useable TinyURLs.
    </p>
  </main>
  <%- include('partials/_bootstrap_js') %>
</body>
</html>