<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/_head") %>
  <title>Document</title>
</head>
<body>
  <%- include("partials/_header") %>
  <div class="container">
    <h3>Register</h3>
    <form action="/register" method="POST">
      <div class="form-group">
        <h4> New User:</h4>
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</body>
  <%- include("partials/_bootstrap_js") %>
</html>