<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partial/_head") %>
  <title>Document</title>
</head>
<body>
  <%- include("partial/_header") %>
  <div class="container">
    <h3>Register</h3>
    <form action="/user/register" method="POST">
      <div class="form-group">
        <h4> New User:</h4>
        <label for="email">Email:</label>
        <input type="text" name="email" class="form-control">
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </div>
</body>
<footer>
  <%- include("partial/_footer") %>
</footer>
</html>